<div class="row justify-content-center">
    <!-- Columna 1: Lista de Usuarios y Botón para restablecer contraseña -->
    <div class="col-12">
        <div class="row my-3">
            <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#guardiesModal"><i
                        class="fa-solid fa-plus"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="mb-3">Guàrdies</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row mb-3">
                    <div class="col">
                        <table class="table">
                            <caption><b>TOTAL:</b> ({{lab_preu}}€ x {{resum_mes_ant?.lab_hores}}h) + ({{lab_preu}}€ x
                                {{resum_mes_ant?.fest_hores}}h) =
                                {{resum_mes_ant?.preu | number : '1.2-2'}}€
                            </caption>
                            <thead>
                                <tr>
                                    <th class="table-guardia" colspan="4">Més passat {{ resum_mes_ant?.mes }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="table-vacances" colspan="2">Laborals</th>
                                    <th class="table-guardia-r" colspan="2">Festius</th>
                                </tr>
                                <tr>
                                    <th>Nº Hores</th>
                                    <th>Nº Dies</th>
                                    <th>Nº Hores</th>
                                    <th>Nº Dies</th>
                                </tr>
                                <tr>
                                    <td>{{resum_mes_ant?.lab_hores}}</td>
                                    <td>{{resum_mes_ant?.lab_dies}}</td>
                                    <td>{{resum_mes_ant?.fest_hores}}</td>
                                    <td>{{resum_mes_ant?.fest_dies}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <table class="table">
                            <caption><b>TOTAL:</b> (6.165€ x {{resum_mes_act?.lab_hores}}h) + (6.915€ x
                                {{resum_mes_act?.fest_hores}}h) =
                                {{resum_mes_act?.preu | number : '1.2-2'}}€
                            </caption>
                            <thead>
                                <tr>
                                    <th class="table-guardia" colspan="4">Més actual ({{ resum_mes_act?.mes }})</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="table-vacances" colspan="2">Laborals</th>
                                    <th class="table-guardia-r" colspan="2">Festius</th>
                                </tr>
                                <tr>
                                    <th>Nº Hores</th>
                                    <th>Nº Dies</th>
                                    <th>Nº Hores</th>
                                    <th>Nº Dies</th>
                                </tr>
                                <tr>
                                    <td>{{resum_mes_act?.lab_hores}}</td>
                                    <td>{{resum_mes_act?.lab_dies}}</td>
                                    <td>{{resum_mes_act?.fest_hores}}</td>
                                    <td>{{resum_mes_act?.fest_dies}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row mb-3">
                    <div class="col">
                        <table class="table">
                            <caption><b>TOTAL:</b> (6.165€ x {{resum_any_act?.lab_hores}}h) + (6.915€ x
                                {{resum_any_act?.fest_hores}}h) =
                                {{resum_any_act?.preu | number : '1.2-2'}}€
                            </caption>
                            <thead>
                                <tr>
                                    <th class="table-guardia" colspan="4">Acúmul any {{ today | date:"YYYY"}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="table-vacances" colspan="2">Laborals</th>
                                    <th class="table-guardia-r" colspan="2">Festius</th>
                                </tr>
                                <tr>
                                    <th>Nº Hores</th>
                                    <th>Nº Dies</th>
                                    <th>Nº Hores</th>
                                    <th>Nº Dies</th>
                                </tr>
                                <tr>
                                    <td>{{resum_any_act?.lab_hores}}</td>
                                    <td>{{resum_any_act?.lab_dies}}</td>
                                    <td>{{resum_any_act?.fest_hores }}</td>
                                    <td>{{resum_any_act?.fest_dies}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <table class="table">
                            <caption><b>TOTAL:</b> (6.165€ x {{resum_any_ant?.lab_hores}}h) + (6.915€ x
                                {{resum_any_ant?.fest_hores}}h) =
                                {{resum_any_ant?.preu | number : '1.2-2'}}€
                            </caption>
                            <thead>
                                <tr>
                                    <th class="table-guardia" colspan="4">Acúmul any {{ today | anterior:2}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="table-vacances" colspan="2">Laborals</th>
                                    <th class="table-guardia-r" colspan="2">Festius</th>
                                </tr>
                                <tr>
                                    <th>Nº Hores</th>
                                    <th>Nº Dies</th>
                                    <th>Nº Hores</th>
                                    <th>Nº Dies</th>
                                </tr>
                                <tr>
                                    <td>{{resum_any_ant?.lab_hores}}</td>
                                    <td>{{resum_any_ant?.lab_dies}}</td>
                                    <td>{{resum_any_ant?.fest_hores}}</td>
                                    <td>{{resum_any_ant?.fest_dies}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row mb-3">
                    <div class="col">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="table-guardia">Mes</th>
                                    <th class="table-guardia">Nº Dies</th>
                                    <th class="table-guardia">Nº Hores</th>
                                    <th class="table-guardia">Preu</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr *ngFor="let resum of resumGuardiesMes">
                                    <td>{{resum.mes}}</td>
                                    <td>{{resum.lab_dies+resum.fest_dies}} </td>
                                    <td>{{resum.lab_hores+resum.fest_hores}} </td>
                                    <td>{{(lab_preu*resum.lab_hores)+(fest_preu*resum.fest_hores) | number :
                                        '1.2-2'}}€</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row mb-3">
                    <div class="col">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="table-guardia">Data</th>
                                    <th class="table-guardia">Num hores</th>
                                    <th class="table-guardia"></th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">

                                <tr *ngFor="let guardia of llista_guardies$ | async">
                                    <td>{{guardia.data | date: 'dd/MM/YYY'}}</td>
                                    <td>{{guardia.n_hores}}</td>
                                    <td><button class="btn" type="button" (click)="esborra(guardia.id)">
                                            <fa-icon class="text-danger" [icon]="faTrashCan"></fa-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-formulari-guardies></app-formulari-guardies>
</div>