<div class="modal fade" id="vacancesModal" tabindex="-1" aria-labelledby="vacancesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form [formGroup]="periodeForm" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="vacancesModalLabel">Registrar Vacances i LD</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div formControlGroup="periodeVacances">
                        <div class="row mb-3">
                            <div class="input-group">
                                <span class="input-group-text w-25 bg-vacances" for="data_ini">Data Inici</span>
                                <input type="date" class="form-control" name="data_ini" id="data_ini"
                                    formControlName="data_ini" required>
                            </div>
                            <div *ngIf="(periodeForm.get('data_ini')?.invalid && (periodeForm.get('data_ini')?.dirty || periodeForm.get('data_ini')?.touched)) || (periodeForm.get('data_ini')?.invalid && submitted)"
                                class="alert alert-danger" role="alert">
                                <div *ngIf="periodeForm.get('data_ini')?.errors?.['required']">
                                    La data d'inici és obligatòria
                                </div>
                                <div *ngIf="periodeForm.controls['data_ini'].hasError('dataValidator')">
                                    La data no té un formàt vàlid o és menor a 2023
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="input-group">
                                <span class="input-group-text w-25 bg-vacances" for="data_fi">Data Fi</span>
                                <input type="date" class="form-control" name="data_fi" id="data_fi"
                                    formControlName="data_fi" required>
                            </div>
                            <div *ngIf="(periodeForm.get('data_fi')?.invalid && (periodeForm.get('data_fi')?.dirty || periodeForm.get('data_fi')?.touched)) || (periodeForm.get('data_fi')?.invalid && submitted)"
                                class="alert alert-danger" role="alert">
                                <div *ngIf="periodeForm.get('data_fi')?.errors?.['required']">
                                    La data d'inici és obligatòria
                                </div>
                                <div *ngIf="periodeForm.controls['data_fi'].hasError('dataValidator')">
                                    La data no té un formàt vàlid o és menor a data inici
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="input-group">
                                <label class="input-group-text w-25 bg-vacances" for="motiu">Motiu</label>
                                <select class="form-select" id="motiu" formControlName="motiu">
                                    <option value=0 selected>Selecciona...</option>
                                    <option value=1>Vacances</option>
                                    <option value=2>Dia Lliure Disposició</option>
                                    <option value=9>Dia Lliure Disposició Any Anterior</option>
                                </select>
                            </div>
                            <div *ngIf="(periodeForm.get('motiu')?.invalid && (periodeForm.get('motiu')?.dirty || periodeForm.get('motiu')?.touched)) || (periodeForm.get('motiu')?.invalid && submitted)"
                                class="alert alert-danger" role="alert">
                                <div *ngIf="periodeForm.get('motiu')?.errors?.['required']">
                                    Selecciona un motiu
                                </div>
                                <div *ngIf="periodeForm.controls['motiu'].hasError('motiuValidator')">
                                    Selecciona un motiu vàlid. Si es DLAA no pot ser major al 15/01
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Desa</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>