<div class="row justify-content-center">
    <!-- Columna 1: Lista de Usuarios y Botón para restablecer contraseña -->
    <div class="col-12">
        <div class="card m-3 mx-md-1 ">
            <div class="card-body">
                <div class="row">
                    <div class="col d-flex justify-content-end">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#registerModal">Afegir
                            membre</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h2 class="card-title mb-3">Llista de membres</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Info</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Admin</th>
                                    <th scope="col">Password</th>
                                    <th scope="col">Delete</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of llista_usuaris$ | async">
                                    <td>
                                        <div appPopover class="btn" data-bs-toggle="popover" data-bs-placement="right"
                                            data-bs-custom-class="custom-popover" data-bs-title="Informacio de l'usuari"
                                            [attr.data-bs-content]="user.mail">
                                            <img src="./assets/profiles/{{user.img}}.png"
                                                alt="avatar de {{user.username}}" style="max-width: 80px;">
                                        </div>
                                    </td>
                                    <th scope="row">{{ user.username }}</th>
                                    <td>
                                        <div>
                                            <input class="form-check-input" type="checkbox" role="switch"
                                                id="flexSwitchRole" name="role" [checked]="checkIfAdmin(user.role)"
                                                (onchange)="changeRole(user.id)">
                                        </div>
                                    </td>
                                    <td>

                                        <div appPopover class="btn" data-bs-toggle="popover" data-bs-placement="right"
                                            data-bs-custom-class="custom-popover" data-bs-title="Nova contrasenya"
                                            [attr.data-bs-content]="user.username | newPassword"
                                            (click)="resetPassword(user.id, user.username)">

                                            <i class="fa-solid fa-rotate text-danger"></i>
                                        </div>

                                    </td>
                                    <td><button class="btn" type="button" (click)="esborra(user.id)">
                                            <fa-icon class="text-danger" [icon]="faTrashCan"></fa-icon>
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <app-register-form></app-register-form>
    </div>
</div>