<div class="modal fade" id="festiusModal" tabindex="-1" aria-labelledby="festiusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form [formGroup]="festiusForm" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="festiusModalLabel">Registre de festius</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row mb-3">
                        <div formControlGroup="periodeFestius">
                            <div class="input-group">
                                <span class="input-group-text w-25 bg-autonomic" for="data_ini">Data Inici</span>
                                <input type="date" class="form-control" name="data_ini" id="data_ini"
                                    formControlName="data_ini" required>
                            </div>
                            <div *ngIf="(festiusForm.get('data_ini')?.invalid && (festiusForm.get('data_ini')?.dirty || festiusForm.get('data_ini')?.touched)) || (festiusForm.get('data_ini')?.invalid && submitted)"
                                class="alert alert-danger" role="alert">
                                <div *ngIf="festiusForm.get('data_ini')?.errors?.['required']">
                                    La data d'inici és obligatòria
                                </div>
                                <div *ngIf="festiusForm.controls['data_ini'].hasError('dataValidator')">
                                    La data no té un formàt vàlid o és menor a 2023
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group ">
                            <label class="input-group-text w-25 bg-autonomic" for="motiu">Motiu</label>
                            <select class="form-select" id="motiu" formControlName="motiu">
                                <option value=0 selected>Selecciona...</option>
                                <option value=3>Nadal/Reis</option>
                                <option value=4>Pascua</option>
                                <option value=5>Festiu Nacional</option>
                                <option value=6>Festiu Autonòmic</option>
                                <option value=7>Festiu Local</option>
                            </select>
                        </div>
                        <div *ngIf="(festiusForm.get('motiu')?.invalid && (festiusForm.get('motiu')?.dirty || festiusForm.get('motiu')?.touched)) || (festiusForm.get('motiu')?.invalid && submitted)"
                            class="alert alert-danger" role="alert">
                            <div *ngIf="festiusForm.get('motiu')?.errors?.['required']">
                                Selecciona un motiu
                            </div>
                            <div *ngIf="festiusForm.controls['motiu'].hasError('motiuValidator')">
                                Selecciona un motiu vàlid
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group">
                            <input class="form-check-input" type="checkbox" id="fix" formControlName="fix" value=1
                                checked>
                            <label class="mx-3 form-check-label" for="fix">Festiu Variable</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Desa</button>
                </div>
            </form>
        </div>
    </div>
</div>