.mat-flat-button.mat-festius { 
  color: #1D1B1E; 
  background-color: #DFCFE4;
}
.mat-flat-button.mat-vacances { 
  color: #1D1B1E; 
  background-color: #EAB59E;
}
.mat-flat-button.mat-guardies { 
  color: #1D1B1E; 
  background-color: #D8998A;
}