<div class="modal fade" id="guardiesModal" tabindex="-1" aria-labelledby="guardiesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <form [formGroup]="guardiesForm" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="registerModalLabel">Registrar guàrdia</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div formControlGroup="periodeGuardies">
                        <div class="row mb-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text w-25 bg-guardia" for="data">Dia guàrdia</span>
                                <input type="date" class="form-control" name="data" id="data" [formControl]="data">
                            </div>
                            <div *ngIf="(data.invalid && (data.dirty || data.touched)) || (data.invalid && submitted)"
                                class="alert alert-danger" role="alert">
                                <div *ngIf="data.errors?.['required']">
                                    La data és obligatòria
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Desa</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>