<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="registerModalLabel">Registrar</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="row mb-3">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Nou usuari" name="username"
                formControlName="username">
            </div>
            <div
              *ngIf="(registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)) || (registerForm.get('username')?.invalid && submitted)"
              class="alert alert-danger" role="alert">
              <div *ngIf="registerForm.get('username')?.errors?.['required']">
                L'usuari és obligatòri
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="form-group">
              <input class="form-control" type="email" placeholder="Nou email" name="mail" formControlName="mail">
            </div>
            <div
              *ngIf="(registerForm.get('mail')?.invalid && (registerForm.get('mail')?.dirty || registerForm.get('mail')?.touched)) || (registerForm.get('mail')?.invalid && submitted)"
              class="alert alert-danger" role="alert">
              <div *ngIf="registerForm.get('mail')?.errors?.['required']">
                El correu és obligatòri
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-3">
              <div class="form-check form-switch ">
                <input class="form-check-input" type="checkbox" role="switch" id="SwitchCheckAdmin" name="role"
                  formControlName="role" (change)="changeChecked()">
                <label class="form-check-label" for="SwitchCheckAdmin">Admin</label>
              </div>
            </div>
          </div>

          <div class="row justify-center mb-3">
            <div class="col-6">
              <select class="form-select" aria-label="Tria una imatge" name="img" formControlName="img">
                <option *ngFor="let imatge of range(6)" [value]="imatge">
                  Opció {{imatge}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="d-flex">
              <div *ngFor="let imatge of range(6)">
                <img src="./assets/profiles/{{imatge}}.png " alt="Avatar" style="max-width: 40px;">
                Opció {{imatge}}
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Desa</button>
        </div>
      </form>
    </div>
  </div>
</div>